@media screen and (min-width:393px) and (max-width: 2000px){
.barrinhas {
          width: 210px;
          height: 254px;
          border-radius: 4px;
          position: absolute;
          top: 150px;
          background: transparent;
          display: flex;
          gap: 5px;
          padding: .4em;
        }

        .barrinhas p {
          height: 100%;
          flex: 1;
          overflow: hidden;
          cursor: pointer;
          border-radius: 2px;
          transition: all .5s;
          border: 1px solid #02f8f8;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .barrinhas p:hover {
          flex: 4;
        }

        .barrinhas p span {
          min-width: 14em;
          padding: .5em;
          text-align: center;
          transform: rotate(-90deg);
          transition: all .5s;
          text-transform: uppercase;
          color: #02f8f8;
          letter-spacing: .1em;
        }

        .barrinhas p:hover span {
          transform: rotate(0);
        }
}