@media screen and (max-width: 393px){
        body{
          background-image: linear-gradient( to top,#003f63 0%, #252674 25%, rgb(18, 79, 114) 50%, rgb(110, 110, 110) 75%, rgb(255, 255, 255) 100%);
          background-size: 393px;
        }
        h1{
          font-family: 'Playfair Display SC', serif;
          text-align: center;
          color: rgb(255, 255, 255);
          -webkit-text-stroke: 0.7px #000000;
          margin-top: 30px;
          font-size: 50px;
          text-shadow: #646464bd 3px 3px 5px ;
        }
      }